:root{
    --preto-do-cabecalho: #201C1C;
    --botão-amarelo-img: #F8B263;
    --botão-vinho: #6B5959;
    --botão-cervejas: #3E4B6F;
    --branco: #fff;
    --amarelo-footer: #F3CF45;
    --preto: #272525;
    --botão-verde-compra: #03A678;
    --desconto-vermelho: #F83636;
    --desconto-cinza: #a0a0a0;
    --preto-botao: #1E242A; 
    --amarelo-link: #E7C822;
    --laranja-blog: #FFA503;
    --branco-desgastado: #F1F1F1;
    --amarelo-estrela: #D0AB63;
  }


html {
    scroll-behavior: smooth;
}

body{
    overflow-y: scroll;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 7px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--preto-do-cabecalho);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--amarelo-footer);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
    /* creates padding around scroll thumb */
}

.box{
  position: relative;
  font-family: 'Poppins';
  width: 100%;
  height: 100%;
  margin-top: 50px;
  z-index: 0;
}

.mobile{
  display: none;
}

.img_promocional{
    position: relative;
    width: 100%; 
    z-index: -1;
}

.img_promocional img{
  width: 100%;
  z-index: -1;
}

.box_conteudo{
    width: 80%;
    height: 100%;
    margin: auto;
    font-family: 'Inter', sans-serif;
    margin-top: 35px;
}

.box_conteudo h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.box_conteudo h1{
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    margin: 25px 0;
}

.box_conteudo p {
    font-weight: 400;
    color: rgb(150, 150, 150);
    font-style: normal;
    line-height: 18px;
    margin-bottom: 50px;
}

.delivery {
    position: relative;
    color: var(--branco);
    background-color: var(--preto-botao);
    border-radius: 8px;
    display: inline-flex;
    text-align: center;
    padding: 15px 25px;
    transition: all 0.2s ease-in;
    box-shadow: 0 6px 2px var(--desconto-cinza);
    overflow: hidden;
}

.delivery span{
    position: relative;
    font-weight: 700;
    z-index: 1;
}

/* Todas vez que for iniciar um pseudo elemento, iniciamos com um Content: '', para indentifia que vai ser inserido um objeto */

.delivery::before{
  content: '';
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  background-color: var(--botão-cervejas);
  width: 0px;
  height: 0px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.delivery:hover::before{
    background-color: var(--botão-amarelo-img);
    width: 380px;
    height: 380px;
}

.box_beneficios{
    font-family: 'inter';
    background-color: var(--preto);
    margin-top: 50px;
    transition: all 0.3s ease-in-out;
}

.grupo{
    width: 80%;
    height: 100%;
    padding: 20px 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grupo:nth-child(1){
  border-bottom: 5px solid var(--branco);
}

.grupo:nth-child(2){
  border-bottom: 5px solid var(--branco);
}

.beneficio_img i{
    color: var(--branco);
    font-size: 3rem;
}

.beneficios_conteudo{
    padding: 0 20px;
    color: var(--branco);
    text-align: center;
}

.beneficios_conteudo h2{
    font-size: 20px;
    padding-bottom: 20px;
}

.beneficios_conteudo p {
    font-size: 12px;
    letter-spacing: 1px;
    color: var(--desconto-cinza);
}

.container{
    width: 100%;
    height: 100%;
    font-family: 'Inter';
}

.titulo{
    font-family: 'Inter';
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 50px;
}

.titulo span {
  font-size: 1.6rem;
  font-weight: 700;
}

.ver_mais-btn{
  position: relative;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--amarelo-link);
  display: inline-flex;
  border: 3px solid var(--amarelo-link);
 
  border-radius: 5px;
  overflow: hidden;
}

.ver_mais-btn span{
  padding: 5px 10px;
  font-size: 0.9rem;
  font-weight: 700;
  z-index: 1;
}

.ver_mais-btn span:hover{
  color: var(--branco);
}

.ver_mais-btn::before{
  content: '';
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  background-color: var(--botão-cervejas);
  width: 0px;
  height: 0px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.ver_mais-btn:hover::before{
  background-color: var(--botão-amarelo-img);
  width: 180px;
  height: 180px;
}

.drinks{
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 30px;
  font-style: normal;
}

.drinks_box{
  height: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.drinks span{
    font-weight: 700;
    font-size: 1rem;
    font-style: normal;
}

.drinks p {
     font-weight: 500;
     font-style: normal;
     padding-top: 5px;
}

.drinks_box img:hover{
  animation-name: animate;
  animation-duration: 1s;
  animation-fill-mode: both;
  transition: all 0.3s ease-in-out;
}


@keyframes animate {
  from{
    opacity: 0.5;
    padding-bottom: 0;
    width: 90px;
  }
  
  to{
    width: 110px;
    opacity: 1;
    padding-bottom: 20px;
  }
}

.blog{
  position: relative;
  width: 100%;
  height: 100%;
  font-family: 'Inter';
}

.blog_conteudo{
  width: 90%;
  height: 100%;
  margin: auto;
  background-color:  var(--branco-desgastado);
  box-sizing: border-box;
  margin-bottom: 25px;
}

.blog_conteudo img {
  width: 100%;
}

.blog_titulo {
   font-size: 15px;
   font-weight: 700;
   display: flex;
   align-items: center;
   padding-top: 10px;
   box-sizing: border-box;
}

.blog_titulo::before{
  content: '';
  background-color: var(--laranja-blog);
  height: 5px;
  width: 25px;
  margin: 0 5px;
}

.visu_blog{
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog_texto{
    width: 80%;
    margin: auto;
    font-size: 0.7rem;
    padding: 10px 0;
    box-sizing: border-box;
    color: var(--botão-cervejas);
}

.visu_blog i{
    color: var(--laranja-blog);
    font-size: 2rem;
}

.contact{
  width: 90%;
  height: auto;
  margin: auto;
  background-color: var(--branco-desgastado);
  font-family: 'Inter';
  box-shadow: 6px 6px 4px var(--desconto-cinza);
  margin-bottom: 80px;
  margin-top: 70px;
}

.titulo_blog{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
}

.titulo_blog span {
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 10px;
}

.contact_couteudo{
  width: 100%;
  margin: auto;
}

.contact_list{
  display: flex;
  align-items: center;
  padding: 20px 10px;
}

.contact_list span {
  font-size: 0.8rem;
  font-weight: 700;
}

.contact_list i{
  padding-right: 10px;
  font-size: 1.75rem;
}

.map{
  width: 90%;
  height: 100%;
  margin: auto;
  object-fit: cover;
  border-radius: 30px;
  padding-bottom: 20px;
}

.map iframe{
  width: 100%;
  height: 200px;
  margin: auto;
  display: flex;
  justify-content: center;
  object-fit: contain;
  border-radius: 30px;
}

.items-wrapper{
  width: 100%;
  font-family: 'Inter';
  
} 

.items{
  width: 90%;
  height: 250px;
  margin: auto;
  display: flex;
  align-items: center;
  overflow-y: hidden;
  overflow-x: scroll;
 	scroll-snap-type: x mandatory;
}

.active {
	scroll-snap-type: unset;
}

.items::-webkit-scrollbar {
     height: 0;                 /* width of the entire scrollbar */
}

.item{
  flex: none;
  width: 85%;
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  scroll-snap-align: start;
  margin: 0 8px;
  background-color: var(--branco-desgastado);

  box-shadow: 6px 6px 4px #ccc;
  margin-bottom: 20px;
}

.avaliacao{
  width: 90%;

  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: span 2;
}

.icons i {
  color: var(--amarelo-estrela);
}

.data p {
  font-weight: 600;
  font-size: 10px;
}

.texto{
   width: 90%;
   margin: auto;
   grid-column: span 2;
}

.texto h1 {
   font-size: 1.25rem;
   font-weight: 700;
   padding-bottom: 15px;
}

.texto p {
   font-size: 13px;
   color: #7A7777;
   padding-bottom: 15px;
}

.texto span {
  font-size: 12px;
  color: rgb(73, 70, 70);
  
}

form{
  width: 100%;
  height: 100%;
}

.caixa{
  width: 80%;
  border: 5px solid black;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 15px 10px;
}

.box_form{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box_form button{
  font-family: 'Inter';
  font-size: 1.3rem;
   background-color: var(--preto-botao);
   color: var(--branco);
   width: 50%;
   height: 60px;
   border-radius: 30px;
}

.img_logo{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
  margin-top: 20px;
}

.img_logo img{
  width: 80px;
}

.social_midia{
  width: 100%;
  font-family: 'Inter';
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.galley{
  width: 100%;
  height: 100%;
}

.galley a{
  font-size: 14px;
  padding: 0 20px;
  font-weight: 400;
  text-align: center;
}

.icon_midia{
  font-size: 22px;
}

@media screen and (min-width: 769px) {
    .box {
      width: 95%;
      margin-left: 5%;
      display: flex;
      align-items: center;
      justify-content: space-around;

      margin-top: 50px;
    }

    .titulo{
      margin-top: 25px;
      margin-bottom: 25px;
    }

    .box_conteudo{
      width: 80%;
      height: 100%;
      
      margin: 0 auto;
      padding: 0;
    }

    .mobile{
      display: block;
    }

    .img_promocional.mobile  {
      width: 75%;
      display: flex;
    }

    .pc {
      display: none;
    }

    .box_beneficios{
      display: flex;
    }

    .grupo{
      padding: 20px 10px;
    }

    .grupo:nth-child(1){
      padding: 0 10px;
      border: none;
      border-right: 5px solid  #fff;
    }

    .grupo:nth-child(2){
      padding: 0 10px;
      border: none;
      border-right: 5px solid  #fff;
    }

    .drinks{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
    .drinks_grupo{
      width: 90%;
      
      margin: auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin-bottom: 40px;
      column-gap: 15px;
      row-gap: 15px;
    }

    .blog_conteudo{
      width: 100%;
      height: 100%;
    }


    .blog_conteudo:nth-child(1){
      grid-column: span 2;
      grid-row: span 2;
      grid-template-rows: 1fr 1fr;
    }

    .blog_conteudo:nth-child(3){
      grid-row: span 1;
    }
    
    .item{
      width: 30%;  
    }

    .box_form{
      width: 50%;
      margin: auto;
    }

    .contact {
        margin-top: 80px;
        margin-bottom: 80px;
        box-sizing: border-box;
    }

    .contact_grupo{
      width: 90%;
      margin: auto;
      display: flex;
      padding: 50px 0;
    }

    .contact_list{
        padding: 30px 0;
    }

    .titulo_blog{
        padding-top: 40px;
    }

    .map{
        height: 100%;
    }

    .map iframe{
        height: 300px;
    }

    .box_form {
        margin-top: 60px;
    }
}